[submodule "docs/github.io"]
	path = docs/github.io
	url = https://github.com/EQt/treelas.git
	branch = gh-pages
[submodule "graphidx"]
	path = deps/graphidx
	url = https://github.com/EQt/graphidx.git
