---
BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
PointerAlignment: Right
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct:     true
  AfterClass:      true
  AfterFunction:   true
AllowShortBlocksOnASingleLine: true
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakTemplateDeclarations: Yes
MaxEmptyLinesToKeep: 2
ColumnLimit: 88
...
